.generalGrid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 5fr;
    justify-content: left;
    /* fr = 'fraction' these are adaptive  */
    /* grid-column-gap: 30px;
    grid-row-gap: 30px; */
    /* transition-duration: 2s; */
    /* or grid-gap for all  */
}

.gridForMenu{
    display: grid;
    grid-template-areas: "post-1 "  
                         "post-2 "  
                         "post-3 "; 
                         grid-template-rows:  minmax(100px, 180px) minmax(70px, 40vh) auto ;
}
.post-1 {
    grid-area: post-1;
  }
  .post-2 {           
    grid-area: post-2;
  }
  .post-3 {
    grid-area: post-3;
  }

 
  .da {
    font-size: 20%
  }
  path{
    cursor: pointer;
  }
  i{
    cursor: pointer;
  }
input {
 margin-bottom: 2%;
}