body {
	background: #fff;
	color: rgb(27, 27, 27);
	font: 90%/180% Arial, Helvetica, sans-serif;
	/* width: 800px; */
	/* max-width: 96%; */
	/* margin: 0 auto; */
}
.generalGrid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    /* fr = 'fraction' these are adaptive  */
    /* grid-column-gap: 30px;
    grid-row-gap: 30px; */
    /* transition-duration: 2s; */
    /* or grid-gap for all  */
}
.registration {
  margin-left: 10%;
  margin-right: 10%;
}

.gridForMenu{
    display: grid;
    grid-template-areas: "post-1 "  
                         "post-2 "  
                         "post-3 "; 
                         grid-template-rows:  minmax(100px, auto) minmax(70px, auto) auto ;
                         grid-template-columns: auto ;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}
.post-1 {
    grid-area: post-1;
  }
  .post-2 {           
    grid-area: post-2;
  }
  .post-3 {
    grid-area: post-3;
   
  }

 
  .da {
    font-size: 20%
  }
  path{
    cursor: pointer;
  }
  .searchRes {
    cursor: pointer;
    margin: 3%;
    font-size: larger;
    
  }
  .searchRes:hover{
    color: rgb(190,214,47);
  }

.station{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
 width: 20px;
 cursor: pointer;
}
.station:hover{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 24px;
  cursor: pointer;
 }
.stationTaken {
  width: 20px;
  opacity: 0.4 ;
}
.logo {
  width: 120px;
  padding-right: auto;
  padding-left: 9%;
}
.buttonGreen:hover {
 
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttonGreen{
  width: 100%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonBlue:hover {
 
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: rgba(11,131,165, 1); 
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttonBlue {
  width: 100%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: rgba(11,131,165, 1); 
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.proceedButton {
  width: 30%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #4CAF50;; /* Green */
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
}
.cancelButton {
  width: 30%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color:  rgba(11,131,165, 1); 
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}
.cancelButtonMainPage {
  width: 100%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color:  rgba(11,131,165, 1); 
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}
input {
  outline: none;
  margin-bottom: 4%;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
  font-size: 100%;
  margin-bottom: 6%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 50%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 80%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.zebra {
  list-style: none;
  border-radius: 0.1px;
  border-left: 10px solid rgb(11,131,165);
  padding: 0;
  font-family: "Lucida Sans";
}
.zebra li {padding: 10px;}
.zebra li:nth-child(odd) {background: #E1F1FF;}
.zebra li:nth-child(even) {background: white;}

input [type=search] {

	width: 100%;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}
input {
	width: 100%;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

.infoHeader {
  margin-top: 1%;
  margin-bottom: 1%;
  margin: 3%;
  font-size: larger;
}

.stationInfo {
  padding-left: 3%;
  padding-right: 3%;
 background-color: rgba(11,131,165, 0.2);
 /* opacity: 0.9; */
 border: 1px solid #cecece;
 border-radius: 3px;
 padding-bottom: 4%;
 -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
 -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
 box-shadow: 0 0 5px rgba(109,207,246,.5);
 
}
.property {
  font-weight: lighter;
}

.chargingInfo {
  padding-left: 3%;
  padding-right: 3%;
 background-color: rgba(8, 104, 29, 0.1);
 /* opacity: 0.9; */
 border: 1px solid #cecece;
 border-radius: 3px;
 -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
 -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
 box-shadow: 0 0 5px rgba(109,207,246,.5);

}
.stationInfo div {
  margin-top: -3%;
  margin-bottom: -3%;
  padding-top: -3%;
  padding-bottom: -3%
}
.chargingInfo div {
  margin-top: -3%;
  margin-bottom: -3%;
  padding-top: -3%;
  padding-bottom: -3%
}